.navbar {
    height: 100vh;
    width: 30vw;
    background-color: rgba(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #2f333d;
}

.navbar__link{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #CECECE;
    text-decoration: none;
    border: 1px solid transparent;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    padding: 0 20rem;
}

.nav__hover:hover {
    color: orange;
    transition: color 0.2s ease-in-out;
    /* background-color: #2f333d;
    border-right: 4px solid #1DA1F2;
    color: #1DA1F2; */
}

.nav__hover:hover .vertical-line {
    background-color: orange;
    transition: background-color 0.2s ease-in-out;
}

.navbar a:nth-child(2) {
    margin-top: 2rem;
}

.navbar a:nth-child(4) {
    margin-bottom: 32rem;
}

.navbar__title {
    padding-left: 2rem;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
}


.navbar__text {
    padding-left: 2rem;
    margin: 0;

}

.navbar__icon{
    height: 1.5rem;
    width: 1.5rem;
}

.navbar a:nth-child(5) {
 padding: 0;
justify-content: center;

}

.vertical-line {
    height: 40%;
    width: 2px;
    background-color: #2f333d;
    margin: 0 1rem;
}

.active {
    color:  orange;
}

@media screen and (max-width: 1500px) {
    .navbar__link {
        padding: 0 10rem;
    }
}

@media screen and (max-width: 1400px) {
    .navbar__link {
        padding: 0 8rem;
    }
}

@media screen and (max-width: 1300px) {
    .navbar__link {
        padding: 0 6rem;
    }
}


@media (max-width: 1050px)
{
    .navbar {
        width: 100vw;
        height: 10vh;
        border-right: none;
        border-bottom: 1px solid #2f333d;
        flex-direction: row;
        z-index: 100;
    }

    .navbar__link:nth-child(5) {
        margin-right: 1rem;
    }

    .navbar a:nth-child(1) {
        display: none;
    }

    .navbar a:nth-child(2) {
        margin-top: 0;
    }

    .navbar a:nth-child(4) {
        margin-bottom: 0;
    }

    .navbar__link {
        width: 100%;
        height: 100%;
        justify-content: center;
        padding: 0;
    }

    .navbar__text {
        display: none;
    }
    

    .navbar__button {
        display: none;
    }

    .nav__logout {
        display: block;
    }
}